.root {
    -fx-background-color: #ADD8E6;
}

Menu, MenuItem {
    -fx-text-fill: #fff;
}

TextField, TextArea {
    -fx-background-color: #fff;
    -fx-border-color: #ccc;
}

Button {
    -fx-background-color: #007bff;
    -fx-text-fill: #fff;
}

Button:hover {
    -fx-background-color: #0056b3;
}
